# Supabase
SUPABASE_URL=https://sdsorkekulpfprsgmkaj.supabase.co
SUPABASE_KEY=sb_secret_1MvSJmab42gkOddvRkbXWw_ufF_cuXO

# Server
PORT=3000
NODE_ENV=production

# Security
ADMIN_SECRET=your-admin-secret-key
